# ========================
# OS
# ========================
.DS_Store
Thumbs.db

# ========================
# Node / Frontend tools
# ========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ========================
# Build output
# ========================
dist/
build/

# ========================
# Environment
# ========================
.env
.env.local
.env.development
.env.production

# ========================
# Editor / IDE
# ========================
.vscode/
.idea/
*.iml

# ========================
# Logs
# ========================
logs/
*.log
